[Unit]
Description=Decryption
After=network-online.target

[Service]
Type=simple
ExecStart=/home/client/Documents/TP3/td_crypted/src/decrypt.sh
[Install]
WantedBy=multi-user.target
